<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>About Page</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <section class="about-header">
            <h1>About Us</h1>
            <div class="slider">
                <div class="slider-items">
                    <div class="item active">
                        <img src="images/1.jpg">
                    </div>
                    <div class="item">
                        <img src="images/2.jpg">
                    </div>
                    <div class="item">
                        <img src="images/3.jpg">
                    </div>
                    <div class="item">
                        <img src="images/4.jpg">
                    </div>
                    <div class="item">
                        <img src="images/5.jpg">
                    </div>
                    <div class="item">
                        <img src="images/6.jpg">
                    </div>
                </div>
                <!----slider controls------>
            <div class="left-slide"><</div>
            <div class="right-slide">></div>
            <script src="slider.js"></script>
            </div>
        </section>
        <section class="about-us">
            <div class="row">
                <div class="about-col">
                    <h1>We are Kerala's one of the biggest<br> college</h1>
                    <p>Our College is one of the finest college in Kerala.Vision of our college,i.e. <br>"Creating Technology leaders of Tomorrow" clearly depicts what we are famous for.<br>Amongst one of the few colleges in Kerala which is both NAAC as well as NBA<br>accredited in all the departments.We have been ranked 24th position in State<br> as per Academic Performance Index by KTU.</p>           
                </div>
                <div class="about-col">
                    <img src="images/aboutimage.jpg">
                </div>
            </div>
        </section>
        </body>
    </body>
</html>